In [7]:
path = r"C:\Users\Happy\Desktop\AI_project\자격증_빅분기 토스 _AICE\빅분기\input"

T1
데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오
강의 영상 : https://youtu.be/ipBW5D_UJEo
데이터셋 : titanic
오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
데이터 위치 "../input/titanic/train.csv" (copy&edit가 아닐 경우 별도로 데이터셋 불러와야 함)

In [8]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
df = pd.read_csv(path+'\\titanic\\train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [35]:
IQR에 1.5 안곱해서 틀림

Q3 = df['Fare'].quantile(0.75)
Q1 = df['Fare'].quantile(0.25)
IQR = Q3 - Q1
IQR_upper = Q3 + IQR * 1.5 # @@ 1.5 곱해야함 !!
IQR_lower = Q1 - IQR * 1.5
df_1 = df.loc[(df['Fare']>IQR_upper) | (df['Fare']<IQR_lower)] # 이상치들
print(len(df_1.loc[df_1["Sex"] == "female"]))

70

In [34]:
Q3 = df[["Fare"]].quantile(0.75)
Q1 = df[["Fare"]].quantile(0.25)

IQR = Q3 - Q1

IQR_Q1 = float(Q1 - IQR * 1.5)
IQR_Q3 = float(Q3 + IQR * 1.5)

print(len(df.loc[(df["Fare"]<IQR_Q1) | (df["Fare"]>IQR_Q3) & (df["Sex"]=="female") ]))

70

C:\Users\Happy\AppData\Local\Temp\ipykernel_2988\3573486473.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  IQR_Q1 = float(Q1 - IQR * 1.5)
C:\Users\Happy\AppData\Local\Temp\ipykernel_2988\3573486473.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  IQR_Q3 = float(Q3 + IQR * 1.5)

In [100]:
# IQR 구하기
df['Fare']
Q3 = df['Fare'].quantile(0.75)
Q1 = df['Fare'].quantile(0.25)

IQR = Q3 - Q1

IQR_Q3 = Q3 + IQR * 1.5
IQR_Q1 = Q1 - IQR * 1.5

df2 = df.loc[((IQR_Q1 > df["Fare"]) | (IQR_Q3 < df["Fare"]))] # 이상치 데이터 IQR을 이용한

# 이상치 데이터에서 여성 수 구하기, 출력하기 print()

print(len(df2.loc[(df2['Sex'] == 'female')]))

70

In [81]:
# df[["Fare"]]
upper = df[["Fare"]].quantile(0.75)
lower = df[["Fare"]].quantile(0.25)
IQR  = (upper - lower) * 1.5 
a = float(lower - IQR) # @ 조선식 쓸 경우 데이터 타입 확인
b = float(IQR + upper)
answer = df.loc[(df["Fare"]<a)|(b<df["Fare"])]["Sex"].value_counts()["female"] # @ femail 여성
print(answer)

70

T1-2

이상치를 찾아라(소수점 나이)
주어진 데이터에서 이상치(소수점 나이 컬럼)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오
데이터셋 : basic1.csv
오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [41]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [61]:
np.이다.

df1 = df[~(df["age"] == np.floor(df["age"]))]
np.mean(np.ceil(df1["age"])) + np.mean(np.trunc(df1["age"])) + np.mean(np.floor(df1["age"]))

69.5

In [49]:
# 소수점 데이터 찾기
df1 = df.loc[df['age'] != np.floor(df["age"])] 

a = np.mean(np.ceil(df1['age']))
b = np.mean(np.floor(df1['age']))
c = np.mean(np.trunc(df1['age']))
print(a+b+c)

69.5

T1-3 @@ 한번틀림
## 결측치 처리
-  주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- 데이터셋 : basic1.csv 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 강의 영상 : https://youtu.be/WqlpqBRn7x4

In [92]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')

df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [137]:
df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')

print(df.isna().sum())

df = df.drop(['f3',"id","f4"],axis = 1) # 파이썬 버젼이 커지면 이렇게는 실행이 안됨.. STR형식 다 변환 필요

# df.fillna(df['city'].median)
df = df.groupby(['city']).apply(lambda x : x.fillna(x.median())) 
df['f1'].mean()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

65.52

In [91]:
print(df.info())
# 80%이상 결측치 컬럼, 삭제
df = df.drop(['f3'],axis =1)

# @@ 틀렷던 부분
# df.groupby("city").apply(lambda x:x.fillna(x.median()))
k, d, b, s = df.groupby('city')['f1'].median()

# 80%미만 결측치 컬럼, city별 중앙값으로 대체
print(k,d,b,s)

# f1결측치 city별 중앙값으로 대체
#@@ 틀렷던 부분.
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d})) # @@ 이부분

# f1 평균값 결과 출력
print(df['f1'].mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB
None
58.0 75.0 62.0 68.0
65.52

In [ ]:
del df['f3']
# df[df[]]
# print(df.info())
# print(df.groupby(["city"]).median()['f1'])
a,b,c,d = df.groupby(["city"]).median()['f1']
# print(a,b,c,d)

print(df.loc[((df["city"]=="서울")&(df["f1"]==None))])
df.loc[(df["city"]=="경기")&(df["f1"].isna()==True),"f1"] = a
df.loc[(df["city"]=="대구")&(df["f1"].isna()==True),"f1"] = b
df.loc[(df["city"]=="부산")&(df["f1"].isna()==True),"f1"] = c
df.loc[(df["city"]=="서울")&(df["f1"].isna()==True),"f1"] = d
# print(df.info())
answer = df["f1"].mean()
print(answer)

t1-4

왜도와 첨도 구하기
주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오

비대칭도(非對稱度, skewness) 또는 왜도(歪度)는 실수 값 확률 변수의 확률 분포 비대칭성을 나타내는 지표이다. 왜도의 값은 양수나 음수가 될 수 있으며 정의되지 않을 수도 있다. 왜도가 음수일 경우에는 확률밀도함수의 왼쪽 부분에 긴 꼬리를 가지며 중앙값을 포함한 자료가 오른쪽에 더 많이 분포해 있다. 왜도가 양수일 때는 확률밀도함수의 오른쪽 부분에 긴 꼬리를 가지며 자료가 왼쪽에 더 많이 분포해 있다는 것을 나타낸다. 평균과 중앙값이 같으면 왜도는 0이 된다.

In [138]:
# 데이터 불러오기
df = pd.read_csv(path+"\\house-prices-advanced-regression-techniques\\train.csv")
df['SalePrice'].head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [11]:
a1 = df['SalePrice'].skew() #@@ 왜도 
a2 = df['SalePrice'].kurt() #@@ 첨도

b1 = np.log(df['SalePrice']).skew() # 변환한 이후 왜도 첨도
b2 = np.log(df['SalePrice']).kurt()

round((a1+a2+b1+b2),2)

9.35

t1-5

# 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오 (자유도 = 1)
# 데이터셋 : basic1.csv

In [83]:
import pandas as pd
import numpy as np
df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')

In [95]:
a1 = df.loc[(df['f4'] == "ENFJ")]['f1'].std()
a2 = df.loc[(df['f4'] == "INFP")]['f1'].std()
print(abs(a1 - a2))

5.859621525876811

# t1-6 결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력

주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오

데이터셋 : basic1.csv
오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [29]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')

In [33]:
df = df.loc[(df['f1'].isna()==False)] # 결측데이터 제거
# df.groupby(["city","f1"]) #@@ 몰랐음
df1 = df.groupby(["city","f2"]).sum()
# df.loc[(df["city"]=="경기") & (df["f2"]==0)].f1 #문제 오해함
df1

           age     f1          f5
city f2
경기   0   720.4  833.0  943.944823
     1   696.0  670.0  657.241212
     2   239.0  311.0  362.300060
대구   0   387.0  527.0  183.199568
     1   217.6  235.0  241.333824
     2   140.0  211.0   79.667919
부산   0   331.0  389.0  284.371097
     1   188.7  315.0  299.270973
     2   -13.5   47.0   67.886373
서울   0   145.0  278.0  218.528577
     1   315.3  534.0  438.485010
     2    68.3  207.0  126.661135

In [34]:
# @@ 이부분 또 틀림
print(df1.iloc[0]["f1"])
print(df1.loc["경기",0]["f1"])

833.0
833.0

In [35]:

df = df.loc[(df["f1"].isna()==False)] # = df = df.dropna(["f1"],axis = 0)

df1 = df.groupby(by = ["city","f2"]).sum()
# print(df1)
# print(df1.index)
print(df1.loc[("경기",0)]['f1'])

833.0

## T1-7 
# 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!

In [36]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
# path = "C:\\Users\\Happy\\Desktop\\help\\input"
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [27]:
df.loc[df['f4']=='ESFJ']
df['f4'].loc[df['f4']=='ESFJ'] = 'ISFJ'
answer = max(df.loc[(df["city"]=="경기") & (df['f4'] == 'ISFJ')]['age'])
print(answer)

90.0

c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df.loc[df['f4']=="ESFJ","f4"] = "ISFJ"

asnwer = df.loc[(df['city']=="경기")& (df['f4']=="ISFJ")]['age'].max()
print(asnwer)

## T1-8
주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다

In [28]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
# path = "C:\\Users\\Happy\\Desktop\\help\\input"
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [29]:
# @ cumsum 은 누적합
aa = df.loc[df['f2']==1]['f1'].cumsum() # 누적합 계산

# bfill
# ffill
# interpolate 선형보간

bb = aa.backfill() # 뒤값으로 보간
print(np.average(bb))

980.3783783783783

## T1-9 
주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [13]:
df = pd.get_dummies(df)
# @@ 사이킷런 스펠링
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
# @@ SS.fit_transform(df[['f5']]) <= fit_transform 안에 df를 데이터프레임(df[[]])으로 받아야함 !!!
df[['f5']] = SS.fit_transform(df[['f5']])

In [14]:

from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()

col = df.columns

df1 = Scaler.fit_transform(df)

a = pd.DataFrame(df1, columns = col)
answer = a["f5"].median()
print(answer)

0.26061962955901474

In [ ]:
from sklearn.preprocessing import StandardScaler
Sclaer = StandardScaler()

df[["f5"]] = Sclaer.fit_transform(df[["f5"]])

answer = df["f5"].median()
print(answer)

# T1-10. 여-존슨과 박스-칵스 변환 Expected Questions
주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후, 
f1 컬럼의 여-존슨하고 박스콕스 변환 값을 구하고,
두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오

In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [19]:
df1 = df.loc[(df["age"]>= 20)].copy()
df1["f1"] = df1["f1"].fillna(df1["f1"].mode()[0])


from sklearn.preprocessing import PowerTransformer
PT = PowerTransformer(method = "yeo-johnson")
df1[["yeo"]] = PT.fit_transform(df1[["f1"]])

PT = PowerTransformer(method = "box-cox")
df1[["box"]] = PT.fit_transform(df1[["f1"]])
answer = round(sum(abs(df1["yeo"] - df1["box"])),2)
print(answer)

0.05

In [16]:

df1 = df.loc[df['age']>=20] # 조건
mode = df1.f1.mode() # 최빈값
df1['f1'] = df1['f1'].fillna(mode[0]) # @@ mode에서 계속틀림

#  => df['f1'] = df['f1'].fillna(df['f1'].mode()[0]) 
#한줄로도 가능

# @@ 여- 존스 박스콕스 변환 값
from sklearn.preprocessing import power_transform 
#@@ power_transform 으로 소문자이다!!!!!!
df1['Y'] = power_transform(df1[['f1']],method  = 'yeo-johnson') # @@ 파워 트렌스폼은 데이터프레임 df[["컬럼명"]]으로 받아야 한다!!!

df1['B'] = power_transform(df1[['f1']],method  = 'box-cox')

df1['answer'] = abs(df1['Y'] - df1['B'])

print(round(sum(df1['answer']),2))

0.05

c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [17]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
from sklearn.preprocessing import power_transform

df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')
df.head(5)

# 조건에 맞는 데이터
print("조건 적용 전:", df.shape)
df = df[df['age']>=20]
print("조건 적용 후:", df.shape)

# 최빈값으로 'f1' 컬럼 결측치 대체
print("결측치 처리 전: \n", df.isnull().sum())
print("최빈값: ",df['f1'].mode()[0])
df['f1'] = df['f1'].fillna(df['f1'].mode()[0])
print("결측치 처리 후: \n", df.isnull().sum())   

# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df['y'] = power_transform(df[['f1']]) # method 디폴트 값은 여-존슨’yeo-johnson’
df['y'].head()
# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df['y'] = power_transform(df[['f1']],standardize=False) # method 디폴트 값은 여-존슨’yeo-johnson’
df['y'].head()
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox')
df['b'].head()
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox', standardize=False)
df['b'].head()

조건 적용 전: (100, 8)
조건 적용 후: (83, 8)
결측치 처리 전:
 id       0
age      0
city     0
f1      26
f2       0
f3      78
f4       0
f5       0
dtype: int64
최빈값:  50.0
결측치 처리 후:
 id       0
age      0
city     0
f1       0
f2       0
f3      78
f4       0
f5       0
dtype: int64

2    21.067090
3    18.305263
4    26.557680
5    20.084373
6    20.823545
Name: b, dtype: float64

# T1-11
## 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [4]:
# from sklearn.preprocessing  import MinMaxScaler
# scaler = MinMaxScaler()
# scaled = scaler.fit_transform(df[['f5']])
# scaled = pd.DataFrame(scaled)
# answer = scaled[0].quantile(0.05) + scaled[0].quantile(0.95)
# print(answer)

from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()

df[['f5']] = Scaler.fit_transform(df[['f5']])
a = df['f5'].quantile(0.95)
b = df['f5'].quantile(0.05)
answer = a + b
print(answer)

1.0248740983597389

# T1-12
#### 주어진 데이터에서 접종률 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요 
#### (단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)

In [23]:
import numpy as np
import pandas as pd
df = pd.read_csv(path + '\\archive\\covid-vaccination-vs-death_ratio.csv')

91.84468429574308 1.9129097691393397
93.8

In [31]:
df1 = df.loc[~(df["ratio"]>100)].copy()
df2 = df1.groupby(["country"]).max() # 시간에 따라서 접종률이 올라가서 max했다고 함.. @ 좀 문제가 그렇네;;

a = df2.sort_values(['ratio'],ascending= True).iloc[0:10,:].ratio.mean()
b = df2.sort_values(['ratio'],ascending= False).iloc[0:10,:].ratio.mean()
answer = round(b-a,1)
print(a,b)
print(answer)

1.9129097691393402 91.84468429574308
89.9

# T1-13
#### 상관관계 구하기
 주어진 데이터에서 상관관계를 구하고, quality와의 상관관계가 가장 큰 값과, 가장 작은 값을 구한 다음 더하시오!
 단, quality와 quality 상관관계 제외, 소수점 둘째 자리까지 출력

In [34]:
# 상관관계 구하기
# 주어진 데이터에서 상관관계를 구하고, quality와의 상관관계가 가장 큰 값과, 가장 작은 값을 구한 다음 더하시오!
# 단, quality와 quality 상관관계 제외, 소수점 둘째 자리까지 출력

df = pd.read_csv(path + '\\archive\\winequality-red.csv')

In [35]:
corr = df.corr()["quality"][:-1].values

corr_max = max(abs(corr))
corr_min = min(abs(corr))

if corr_max != max(corr): # corr값중에서 max값이 절댓값 corr max값과 같지않다면 음수일 것
    corr_max = -corr_max
if corr_min != min(corr): 
    corr_min = -corr_min
    
answer = round(corr_max + corr_min, 2)
print(answer)

0.46

In [36]:
# 상관관계 구함 # quality 제외
df_corr = df.corr()
val_list = df_corr["quality"][:-1].values
# print(val_list)
# quality와의 상관관계가 가장 큰 값과, 가장 작은 값을 구한 
## 상관관계는 가장 큰게 음수 일수도 있음!!
a = max(abs(val_list))
b = min(abs(val_list))

if a != max(val_list):
    a = -a

if b != min(val_list):
    b= -b
    
# print(a,b)
# 구한 두값을 더함(소수점 둘째 자리까지 출력)
answer = round(a+b,2)
print(answer)

0.46

In [13]:
# corr = (df.corr()['quality'][:-1].values)
# corr= pd.DataFrame(corr)

# corr_max = float(max(abs(corr.values)))
# corr_min = float(min(abs(corr.values)))

# # 같지 않다면 하나가 음수일 것이다.
# if corr_max != float(max(corr.values)):
#     corr_max = -corr_max
# if corr_min != float(min(corr.values)):
#     corr_min = -corr_min
    
# answer = round((corr_max + corr_min),2)
# print(answer)

0.46

# T1-14. 2개 조건에 따른 상위 값 Expected Question
city와 f4를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수점 둘째자리까지 출력)

In [41]:
import pandas as pd
import numpy as np

df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [40]:

df1 = df.groupby(['city','f4']).mean()
df2 = df1.sort_values(by =['f5'],ascending = False) # @ ascending = 오름차순이니까 False라서 내림차순 => 계단내려가듯이 큰거부터 작은거
answer = round((sum(df2['f5'].values[0:7])),2)
print(answer)

# df_1 = df.groupby(["city",'f4']).mean()
# df_2 = df_1.sort_values(['f5'],ascending=False)[:7].sum()
# print(df_2['f5'].sum())

643.68

In [43]:
# 기준값으로 f5평균값 구함
df_groupby = df.groupby(by = ["city","f4"]).mean()

# print(df_groupby.index)
# f5기준 상위 7개 값 더함
answer = df_groupby.sort_values(by = ["f5"],ascending= False).iloc[0:7].f5.sum()
answer = round(answer, 2)
print(answer)

643.68

# T1-15
주어진 데이터 셋에서 age컬럼 상위 20개의 데이터를 구한 다음
f1의 결측치를 f1의 중앙값으로 채운다.
그리고 f4가 ISFJ와 f5가 20 이상인 f1의 평균값을 출력하시오!

In [46]:
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [47]:
# val = df.sort_values(by= ['age'])[-20:].median()['f1'] # 결측치 채울 값
# df['f1'] = df['f1'].fillna(val)
# answer = df.loc[(df['f4']=="ISFJ")&(df['f5']>=20)]['f1'].mean()
# print(answer)

# ## @@ 틀렷는데 문제가 좀;; 

df_1 = df.sort_values(["age"])[-20:]
df_2 = df_1.fillna(df_1['f1'].median())
answer = df_2[(df_2['f4']=="ISFJ") & (df_2["f5"]>20)]['f1'].mean()
print(answer)

73.875

In [48]:
df1 = df.sort_values(by= 'age',ascending = False).iloc[:20]

val = df1.f1.median()
df1["f1"] = df1["f1"].fillna(val)

answer = df1.loc[(df["f4"]=="ISFJ")& (df["f5"]>=20)].f1.mean()

print(answer)

73.875

# T1-16. 분산 Expected Question

주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
앞에서 부터 20개의 데이터를 추출한 후 
f1 결측치(최소값)를 채우기 전과 후의 (f1) 분산 차이를 계산하시오 (소수점 둘째 자리까지)
자유도 = 1.(df.var)로 한다 
##### 자유도 0 은 np.var, np.std

In [37]:
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [39]:
df1 = df.loc[df["f2"]==0].copy()
df1 = df1.sort_values(by= ['age'],ascending=True).iloc[:20]
before = df1['f1'].var() # @ 분산인데 표준편차씀 ㅄ
# before = np.var(df1['f1'])
df1["f1"] = df1["f1"].fillna(df1["f1"].min())
after = df1['f1'].var()
# after = np.var(df1['f1'])
answer = round(before - after,2)
print(answer)

22.13

In [51]:
df1 = df.loc[df["f2"]==0]
df1 = df1.sort_values(by= ["age"],ascending = True)
df2 = df1[:20].copy()

a = df2.f1.var(ddof = 1)

df2["f1"] = df2["f1"].fillna(min(df2["f1"]))
b = df2.f1.var(ddof = 1)

answer = round(a-b,2)
print(answer)

38.44

In [17]:
# df1 = df.loc[(df['f2']==0)].sort_values(by="age", ascending = True)[:20] # @@ ascending 외우기
# df2 = df1.copy() # @ 틀리진 않았지만 copy를 쓰냐 안쓰냐로 데이터 값이 천차 만별임
# df2['f1'] = df2['f1'].fillna(df2['f1'].min())

# answer = round(df1['f1'].var()- df2['f1'].var(),2)
# print(answer)

# # df1 = df.loc[(df['f2']==0)].sort_values(by="age", ascending = True)[:20] 
# # df2 = df1
# # df2['f1'] = df2['f1'].fillna(df2['f1'].min())

# # answer = round(df1['f1'].var()- df2['f1'].var(),2)
# # print(answer)

38.44

In [ ]:
# # f2가 0인 데이터 정렬(age 오름차순)
# cond = (df['f2']==0)
# df = df[cond].sort_values('age', ascending=True).reset_index(drop=True)

# # 앞에서 부터 20개의 데이터 
# df = df[:20]

# # f1 결측치(최소값)를 채우기 전과 후의 분산
# df_var1 = df['f1'].var()
# df['f1'] = df['f1'].fillna(df['f1'].min())
# df_var2 = df['f1'].var()

# # 소수점 둘째자리까지 출력
# print(round(df_var1 - df_var2, 2))

# # 정답 : 38.44




# # 추가 설명 판다스와 넘파이 기본값 비교

# import numpy as np
# print("numpy:", np.var(df['f1']))
# print("pandas(ddof=0):",df['f1'].var(ddof=0))

# print("pandas:",df['f1'].var())
# print("numpy(ddof=1):", np.var(df['f1'], ddof=1))

# T1-17 시계열 데이터

2022년 5월 sales의 중앙값을 구하시오. 정수로 출력하시오

In [18]:
import pandas as pd 
import numpy as np

df = pd.read_csv(path + '\\bigdatacertificationkr\\basic2.csv')

In [19]:
df['Date'] = pd.to_datetime(df["Date"]) # @@ 바보같이 문제 확인 제대로 안함

df1 = df.loc[df['Date'].between("2022-05-01","2022-05-31")]
answer = int(df1.Sales.median()) # df1['Sales'].median()
print(answer)

1477685

In [66]:
# df['Date'] = pd.to_datetime(df["Date"]) # @@ 바보같이 문제 확인 제대로 안함

# df['year'] = df['Date'].dt.year
# df['month'] = df['Date'].dt.month
# # df['day'] = df['Date'].dt.day
# df1 = df.loc[(df['year'] == 2022) & (df['month'] == 5)]
# answer = int(df1['Sales'].median())
# print(answer)

# T1-18. 시계열 데이터2

주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)

In [20]:
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic2.csv')

In [21]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.loc[df['Date'].between("2022-05-01","2022-05-31")]

df['dayofweek'] = df["Date"].dt.dayofweek # @@ dt를 꼭 써주어야만 dayofweek가 된다 # @@ 월화수목금토일 0~6

df1 = df.loc[(df["dayofweek"]== 5)|(df["dayofweek"]== 6)] # 주말
df2 = df.loc[~((df["dayofweek"]== 5)|(df["dayofweek"]== 6))] # 평일

a1 = df1['Sales'].mean()
a2 = df2['Sales'].mean()
answer = round(abs(a1-a2),2)
print(answer)

3010339.1

# T1-19. 시계열 데이터3

주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과
2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오.
단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함
최종값은 소수점 반올림 후 정수 출력

In [64]:
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic2.csv')

In [67]:

df["Date"] = pd.to_datetime(df["Date"])

df["year"] = df["Date"].dt.year
df["month"] = df["Date"].dt.month

df.loc[(df['Events']==1),"Sales_1"] =df["Sales"]*0.8
df.loc[(df['Events']!=1),"Sales_1"] =df["Sales"]

df_1 = df[df["year"]==2022]
val_1 = df_1.groupby(["year","month"]).sum()["Sales_1"].max()
# print(df_1)
df_2 = df[df["year"]==2023]
val_2 = df_2.groupby(["year","month"]).sum()["Sales_1"].max()
print(int(round(abs(val_1-val_2),0)))
print(val_1)
print(val_2)

42473436
197145878.0
239619313.8

In [63]:
df["Date"] = pd.to_datetime(df["Date"])
df["year"] = df["Date"].dt.year
df["month"] = df["Date"].dt.month

df["reSales"] = df["Sales"]

df.loc[(df["Events"]==1),"reSales"] = df.loc[(df["Events"]==1)]["Sales"] * 0.8
# df.loc[(df["Events"]==1),"reSales"] = df["Sales"] * 0.8

df_groupby = df.groupby(by = ["year","month"]).sum()

a = max(df_groupby.loc[2022,:].reSales)
b = max(df_groupby.loc[2023,:].reSales)
answer = int(round(abs(a-b),0))
print(answer)

42473436

In [60]:
df['Date'] = pd.to_datetime(df['Date'])
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month

# Salse 항목이 1인 경우는 80% 만 반영한다
# 그룹바이로 집계 내리기 전에 해야 한다. 이벤트 컬럼도 바뀌기 떄문.
df["reSales"] = df["Sales"]
df.loc[df["Events"]== 1,['reSales']] = df["Sales"] * 0.8 # @@ loc쓰면 데이터프레임 인덱스 봐서 찾아주는 기능이 있나봄

df_groupby = df.groupby(by = ['year','month']).sum()  

# @ groupby 된 항목은 index보고 df.loc[( , )]형식으로 불러올수 있다
df_1 = df_groupby.loc[(2022,)]
df_2 = df_groupby.loc[(2023,)]

val_1 = df_1.reSales.max()
val_2 = df_2.reSales.max()

answer = int(round((abs(val_1-val_2)),0))
print(answer)

42473436

In [ ]:
# 날짜 컬럼 생성
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek

# 이벤트가 1인 sales값은 80%만 반영

def event_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales']*0.8
    else:
        x['Sales2'] = x['Sales']
    return x


df = df.apply(lambda x: event_sales(x), axis=1) #1일 경우 row, 0일 경우 컬럼
df.head()

# 2022년 월별 합계 중 가장 큰 값
cond = df['year'] == 2022
df1 = df[cond]
sale1 = df1.groupby('month')['Sales2'].sum().max()


# 2023년 월별 합계 중 가장 큰 값
cond = df['year'] == 2023
df2 = df[cond]
sale2 = df2.groupby('month')['Sales2'].sum().max()

# 결과값 반올림 후 정수 출력
int(round(abs(sale1 - sale2),0))

# T1-20
basic1 데이터 중 'f4'를 기준으로 basic3 데이터 'f4'값을 기준으로 병합하고,
병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오

In [76]:
import pandas as pd
import numpy as np
df1 = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')
df3 = pd.read_csv(path + '\\bigdatacertificationkr\\basic3.csv')

In [74]:
df = pd.merge(df1,df3,on = 'f4',how = "left") #@@ how에 left를 쓸 경우 df1의 고유값을 기준으로 한다
df = df.loc[df['r2'].isna()==False]
df = df.reset_index(drop= True)
answer = df[:20]['f2'].sum()
print(answer)

15

In [82]:
df = pd.merge(df1,df3,how = "left", on = "f4")
# print(df.info())

df = df.loc[df["r2"].isna()==False]
aa = df.iloc[:20].f2.sum()
print(aa)

15

# T1-21
basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤(오름차순) 각 그룹의 중앙값을 더하시오
(이상치는 음수(0포함), 소수점 값)

In [8]:
import pandas as pd
import numpy as np# T1-21

df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [9]:
#age 컬럼 이상치 (음수, 소수점 값)제거
df = df.loc[~(df["age"]<=0)]
df = df.loc[(df["age"]//1 == df["age"])]


# print(df[["age"]])
#나이순 오름차순 정렬 후 3그룹으로 나눔
df = df.sort_values(by = ["age"],ascending = True) 
# print(df.age)
a = int(len(df)/3)
df1 = df.iloc[:a,:]
df2 = df.iloc[a:a*2,:]
df3 = df.iloc[a*2:,:]
# print((df1.index),(df2.index),(df3.index))
# print(df1["age"])
#그 그룹의 중앙값을 더함
answer = (df1.age.median() + df2.age.median() + df3.age.median())
print(answer)

165.0

In [10]:
df1 = df.loc[~((df["age"]<=0) | ((df["age"]//1)!=df["age"]) )]
df1 = df1.sort_values(by= 'age',ascending= True)
df1 = df1.reset_index(drop = True)

by_len = int(len(df1)/3)

df_1 = df1[:by_len]
df_2 = df1[by_len:by_len+by_len]
df_3 = df1[by_len+by_len:]

answer = df_1.age.median()+df_2.age.median()+df_3.age.median()
print(answer)

165.0

In [ ]:

# # age 이상치 (음수(0포함), 소수점 제거)
# print('전체 데이터:', df.shape)
# df = df[~(df['age'] <= 0)]
# print('음수(0포함)값 제거 후 데이터 크기:', df.shape)

# df = df[(df['age'] == round(df['age'],0))]

# df['range'] = pd.qcut(df['age'], q=3, labels=['group1','group2','group3'])
# g1_med = df[df['range'] == 'group1']['age'].median()
# g2_med = df[df['range'] == 'group2']['age'].median()
# g3_med = df[df['range'] == 'group3']['age'].median()
# print(g1_med + g2_med + g3_med)

# T1-22. Time-Series4 (Weekly data)
주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)

In [11]:
import numpy as np
import pandas as pd
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic2.csv')

In [14]:
df["day"] = pd.to_datetime(df["Date"])
# df["day"] = df.index 
# print(df.info())

df["year"] = df.day.dt.year
df["weekofyear"] = df.day.dt.weekofyear

# 주단위 Salse의 합계
df_groupby = df.groupby(by = ["year","weekofyear"]).sum()

# 가장 큰 값과 가장 작은 주의 차를 구하라
a = min(df_groupby.Sales)
b = max(df_groupby.Sales)
# print(df_groupby.Sales.values)

answer = abs(a-b)
print(answer)

91639050

c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [12]:
df["Date"] = pd.to_datetime(df["Date"])

df["weekofyear"] = df["Date"].dt.weekofyear# @@ 주단위는 dayoweek
df["year"] = df["Date"].dt.year# @@ 주단위는 dayoweek

df_groupby = df.groupby(by= ["year","weekofyear"]).sum()

df_max = df_groupby["Sales"].max()
df_min = df_groupby["Sales"].min()
answer = abs(df_max - df_min)
print(answer)

91639050

c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic2.csv')
# @ 인덱스 자체가 타임 테이블 형이면 resample 방식도 가능한것 같다,
df["Date"] = pd.to_datetime(df["Date"])

df = df.set_index(["Date"])

df_w = df.resample('W').sum()


ma = df_w['Sales'].max()
mi = df_w['Sales'].min()
print(ma - mi)

91639050

# T1-23. 중복 데이터 제거 Drop Duplicates
f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오
- 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움 (채우기만 하고 df를 내림차순 정렬은 x)
- 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
- 최종 결과값은 절대값으로 출력

In [16]:
import numpy as np
import pandas as pd
df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')

In [ ]:
# f1 결측치 채운 후 (f1의 데이터중 내림차순 정렬 후 10번째 값)
a = df.sort_values(by = ["f1"], ascending = False).f1.iloc[9]
# print(df.sort_values(by = ["f1"], ascending = False).f1.iloc[0:10])
df['f1'] = df.f1.fillna(a)

# age 컬럼 중복 제거 전 f1중앙값
before = df['f1'].median()

# age 컬럼 중복 제거 후 f1중앙값
df = df.drop_duplicates(["age"])

after = df.f1.median()
# 두 값의차이 절대값

answer = (before - after)
print(answer)

In [17]:
a = df.sort_values(by = ["f1"], ascending = False).f1.iloc[10]
print(a)
print(df.sort_values(by = ["f1"], ascending = False).f1.iloc[0:10])

87.0
56    111.0
7     101.0
57    100.0
73     98.0
71     97.0
69     96.0
77     96.0
32     94.0
48     88.0
44     88.0
Name: f1, dtype: float64

In [18]:
# 틀림 !!! val = df["f1"].sort_values(ascending = False)[10] # 내림차순 정렬 후 9 번쨰 값 @@ .iloc를 이용할것 !!!!! 
val = df["f1"].sort_values(ascending = False).iloc[9] # @@ 내림차순 정렬 후 9 번쨰 값 @@ .iloc를 이용할것 !!!!! 
df['f1'] = df['f1'].fillna(val) # @@ df는 초기화 하지 않았음 ;; 문제 ..

df_before = df

df_after = df.loc[~df["age"].duplicated()]# duplicated로 중복 제거

a = df_before["f1"].median()
b = df_after["f1"].median()
answer = abs(a - b)
print(answer)

0.5

# T1-24. Time-Series5 (Lagged Feature) 시차 데이터 생성
주어진 데이터(basic2.csv)에서 pv 컬럼의 하루 전 데이터를 이용한 새로운 컬럼(1일 이전 시차 컬럼)을 만들고, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼의 합을 구하시오 
단, 결측값은 이전 값으로 채우시오

In [20]:
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic2.csv')

In [ ]:
df["PV_shift"] = df["PV"].shift(1).fillna(method = "bfill") # @@ shift 틀림
df = df.loc[(df["Events"]==1)]
df = df.loc[df["Sales"]<=1000000]
print(df.PV_shift)
df.PV_shift.sum()

answer = df.loc[((df["Events"]==1) & (df["Sales"]<=1000000))].PV_shift.sum()
print(answer)

In [21]:
df['Date'] = pd.to_datetime(df['Date']) # @ 자꾸 틀리네
df["new_cal"] = df["PV"].shift(1) # @@  shift( ) 라는 메서드를 사용하면 원하는 수 만큼 시프트 시킬 수 있음
df1 = df.loc[((df['Events']== 1)& (df["Sales"] <= 1000000))].fillna(method = "bfill") # @ 여기 실수함 괄호 조건!
# backfill 은 이전 값! 

answer = df1["new_cal"].sum()
print(answer)

1894876.0

# T1-작업형 모의고사

1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼의 결측치를 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼의 결측치를 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 f1 컬럼의 표준편차 합을 구하시오
단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림),(자유도 = 1)

In [22]:
import numpy as np 
import pandas as pd
df = pd.read_csv(path + '\\bigdatacertificationkr\\basic1.csv')

In [23]:
a = int(len(df)/2)

#f1 컬럼의 결측치를 A그룹의 중앙값으로 채움
df_A = df.iloc[:a,:].copy()
df_A["f1"] = df_A.f1.fillna(df_A.f1.median())

# f1 컬럼의 결측치를 b그룹의 최대값으로 채움 
df_B = df.iloc[a:,:].copy()
df_B["f1"] = df_B.f1.fillna(df_B.f1.max())

#a,b그룹의 f1컬럼의 표준편차의 합을 소숫점 첫재짜리까지 반올림, 자유도 = 1

a = df_A.f1.std(ddof = 1)
b = df_B.f1.std(ddof = 1)
answer = round(a + b,1)
print(answer)

42.0

In [24]:
df_A = df[:int(len(df)/2)]
df_B = df[int(len(df)/2):]

df_A[["f1"]] = df_A[["f1"]].fillna(df_A[["f1"]].fillna(df_A[["f1"]].median()))

df_B[["f1"]] = df_B[["f1"]].fillna(df_B[["f1"]].fillna(df_B[["f1"]].max()))

a = df_A[["f1"]].std()
b = df_B[["f1"]].std()

answer = float(round(a+b,1)) # @ 이런식으로 써야 타입이 float가 됨..
print(answer)

42.0

c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

2. 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함
단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

In [25]:
df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')

In [26]:
# f4내림차순 , f5 오름차순 다중정렬 이후
df = df.sort_values(by = ["f4","f5"], ascending = [False, True])
# print(df)

# 앞에서부터 10개의 데이터 중 f5컬럼의 최솟값 찾고, 최솟값으로 부터 앞에서 10개 f5컬럼의 데이터를 변경
# print(df.iloc[:10].f5)
a = df.iloc[:10].f5.min()
df.iloc[:10].f5 = a
# print(df.iloc[:10].f5)
# f5컬럼의 평균값 계산 . 소수점 둘째까지 출력
answer = df.f5.mean()
answer = round(answer,2)
print(answer)

53.63

c:\users\happy\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [27]:
df = df.sort_values(['f4','f5'], ascending=[False, True]).reset_index(drop=True)
df.iloc[:10,7] = df['f5'][:10].min()
print(round(df['f5'].mean(),2))

53.63

In [28]:
# df = df.sort_values(by = ["f4"],ascending= False)
# df = df.sort_values(by = ["f5"] , ascending= True)

df = df.sort_values(['f4','f5'], ascending=[False, True]) # @@ 이걸로 틀림..
val = df.iloc[:10,:].f5.min()

df.iloc[:10,:].f5 = val
answer = round(df.f5.mean(),2)
print(answer)

53.63

3. 'age' 컬럼의 IQR방식을 이용한 이상치 수와 표준편차*1.5방식을 이용한 이상치 수 합을 구하시오
IQR방식 : Q1 - 1.5 IQR, Q3 + 1.5 IQR에서 벗어나는 영역을 이상치라고 판단함 (Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)
표준편차1.5방식: 평균으로부터 '표준편차1.5'를 벗어나는 영역을 이상치라고 판단함

In [33]:
df = pd.read_csv(path+'\\bigdatacertificationkr\\basic1.csv')

In [34]:
Q3 = df["age"].quantile(0.75)
Q1 = df["age"].quantile(0.25)

# age IQR 이용한 이상치 수 
IQR_15 = (Q3 - Q1) * 1.5
# print(IQR_15)
# print(Q1 - IQR_15)
# print(Q3 + IQR_15)
df1 = df.loc[(df["age"]<(Q1- IQR_15))|((Q3 + IQR_15)<df["age"])]
# print(df.describe())

# age 표준편차 1.5 방식을 이용한 이상치수 
a = df.age.std()
mean = df.age.mean()
upper = mean + a * 1.5
lower = mean - a * 1.5
df2 = df.loc[~((lower<=df["age"])&(df["age"]<=upper))]

# 두수 의 합 
answer = int(len(df1) + len(df2))
print(answer)

14

In [35]:
Q3 = df["age"].quantile(0.75)
Q1 = df["age"].quantile(0.25)

IQR_Q3 = Q3 + (Q3 - Q1) * 1.5
IQR_Q1 = Q1 - (Q3 - Q1) * 1.5

# IQR = Q3 - Q1

# IQR_Q3 = Q3 + IQR * 1.5
# IQR_Q1 = Q1 - IQR * 1.5

val_1 = len(df.loc[((df["age"]<IQR_Q1) | (IQR_Q3 < df["age"]))])
upper = df.age.mean() + df.age.std()*1.5
lower = df.age.mean() - df.age.std()*1.5
val_2 = len(df.loc[((upper<df['age']) | (df['age']< lower))])

answer = (int(val_1 + val_2))
print(answer)

14

# 캐글 문제

In [32]:
# 캐글에서 쓸것.

import pandas as pd
df = pd.read_csv(path + '\\mtcars.csv', index_col=0)

# print(df)
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
df[["qsec"]] = Scaler.fit_transform(df[["qsec"]])
answer = len(df.loc[df["qsec"]>0.5])
print(answer)
# print(dir(sklearn))

9

In [ ]:
20226월 추가 문제.

In [8]:
# ##1. index가 짝수인 행만(0포함) 선택해 "petal width (cm)" 값을 모두 더하시오
import pandas as pd
from sklearn.datasets import load_iris
dataset = load_iris()
data_df = pd.DataFrame(dataset.data, columns=dataset.feature_names )
data_df.to_csv("data1.csv", index=False)
del data_df, dataset
# 초기 제공 코드
df = pd.read_csv("data1.csv")

In [ ]:
print(df.groupby('city').sum().sort_values('f1', ascending=False).index[0])

In [9]:
df["idx"] = df.index
df = df.loc[(df["idx"]//2) == (df["idx"]/2)] # 몫과 나머지가 없는 것과 같다면.. 모두 짝수!!
print(df.index)
answer = df["petal width (cm)"].sum()
print(answer)

In [20]:
# ## 2. city를 기준으로 'f1'컬럼의 그룹합을 더한 뒤 그 값이 가장 큰 인덱스 명을 구하시오
data = '{"id":{"0":"id01","1":"id02","2":"id03","3":"id04","4":"id05","5":"id06","6":"id07","7":"id08","8":"id09","9":"id10","10":"id11","11":"id12","12":"id13","13":"id14","14":"id15","15":"id16","16":"id17","17":"id18","18":"id19","19":"id20","20":"id21","21":"id22","22":"id23","23":"id24","24":"id25","25":"id26","26":"id27","27":"id28","28":"id29","29":"id30","30":"id31","31":"id32","32":"id33","33":"id34","34":"id35","35":"id36","36":"id37","37":"id38","38":"id39","39":"id40","40":"id41","41":"id42","42":"id43","43":"id44","44":"id45","45":"id46","46":"id47","47":"id48","48":"id49","49":"id50","50":"id51","51":"id52","52":"id53","53":"id54","54":"id55","55":"id56","56":"id57","57":"id58","58":"id59","59":"id60","60":"id61","61":"id62","62":"id63","63":"id64","64":"id65","65":"id66","66":"id67","67":"id68","68":"id69","69":"id70","70":"id71","71":"id72","72":"id73","73":"id74","74":"id75","75":"id76","76":"id77","77":"id78","78":"id79","79":"id80","80":"id81","81":"id82","82":"id83","83":"id84","84":"id85","85":"id86","86":"id87","87":"id88","88":"id89","89":"id90","90":"id91","91":"id92","92":"id93","93":"id94","94":"id95","95":"id96","96":"id97","97":"id98","98":"id99","99":"id100"},"age":{"0":2.0,"1":9.0,"2":27.0,"3":75.0,"4":24.0,"5":22.0,"6":36.3,"7":38.0,"8":3.3,"9":95.0,"10":40.0,"11":20.0,"12":15.0,"13":77.0,"14":22.0,"15":68.0,"16":74.0,"17":41.0,"18":53.0,"19":11.0,"20":90.0,"21":-6.3,"22":34.0,"23":80.0,"24":34.0,"25":55.0,"26":37.0,"27":38.0,"28":-13.5,"29":16.0,"30":86.0,"31":25.0,"32":47.0,"33":65.0,"34":30.0,"35":68.0,"36":100.0,"37":87.0,"38":56.0,"39":56.0,"40":81.0,"41":65.0,"42":23.0,"43":44.0,"44":97.0,"45":93.0,"46":34.6,"47":18.0,"48":75.0,"49":86.0,"50":36.0,"51":97.0,"52":52.0,"53":53.0,"54":75.0,"55":59.0,"56":3.0,"57":0.0,"58":64.0,"59":56.0,"60":87.0,"61":52.0,"62":88.0,"63":43.0,"64":26.5,"65":87.0,"66":66.0,"67":35.0,"68":75.0,"69":-9.0,"70":35.0,"71":8.0,"72":90.0,"73":45.0,"74":63.0,"75":71.0,"76":77.0,"77":92.0,"78":30.0,"79":67.0,"80":86.0,"81":48.0,"82":73.0,"83":66.0,"84":83.6,"85":2.0,"86":19.0,"87":89.0,"88":34.0,"89":54.0,"90":6.0,"91":97.0,"92":21.8,"93":84.0,"94":77.0,"95":92.0,"96":100.0,"97":39.0,"98":1.0,"99":47.0},"city":{"0":"\uc11c\uc6b8","1":"\uc11c\uc6b8","2":"\uc11c\uc6b8","3":"\uc11c\uc6b8","4":"\uc11c\uc6b8","5":"\uc11c\uc6b8","6":"\uc11c\uc6b8","7":"\uc11c\uc6b8","8":"\uc11c\uc6b8","9":"\uc11c\uc6b8","10":"\uc11c\uc6b8","11":"\uc11c\uc6b8","12":"\uc11c\uc6b8","13":"\uc11c\uc6b8","14":"\uc11c\uc6b8","15":"\uc11c\uc6b8","16":"\uc11c\uc6b8","17":"\uc11c\uc6b8","18":"\uc11c\uc6b8","19":"\uc11c\uc6b8","20":"\ubd80\uc0b0","21":"\ubd80\uc0b0","22":"\ubd80\uc0b0","23":"\ubd80\uc0b0","24":"\ubd80\uc0b0","25":"\ubd80\uc0b0","26":"\ubd80\uc0b0","27":"\ubd80\uc0b0","28":"\ubd80\uc0b0","29":"\ubd80\uc0b0","30":"\ubd80\uc0b0","31":"\ubd80\uc0b0","32":"\ubd80\uc0b0","33":"\ubd80\uc0b0","34":"\ubd80\uc0b0","35":"\ubd80\uc0b0","36":"\ubd80\uc0b0","37":"\ubd80\uc0b0","38":"\ubd80\uc0b0","39":"\ub300\uad6c","40":"\ub300\uad6c","41":"\ub300\uad6c","42":"\ub300\uad6c","43":"\ub300\uad6c","44":"\ub300\uad6c","45":"\ub300\uad6c","46":"\ub300\uad6c","47":"\ub300\uad6c","48":"\ub300\uad6c","49":"\ub300\uad6c","50":"\ub300\uad6c","51":"\ub300\uad6c","52":"\ub300\uad6c","53":"\ub300\uad6c","54":"\ub300\uad6c","55":"\ub300\uad6c","56":"\ub300\uad6c","57":"\ub300\uad6c","58":"\ub300\uad6c","59":"\uacbd\uae30","60":"\uacbd\uae30","61":"\uacbd\uae30","62":"\uacbd\uae30","63":"\uacbd\uae30","64":"\uacbd\uae30","65":"\uacbd\uae30","66":"\uacbd\uae30","67":"\uacbd\uae30","68":"\uacbd\uae30","69":"\uacbd\uae30","70":"\uacbd\uae30","71":"\uacbd\uae30","72":"\uacbd\uae30","73":"\uacbd\uae30","74":"\uacbd\uae30","75":"\uacbd\uae30","76":"\uacbd\uae30","77":"\uacbd\uae30","78":"\uacbd\uae30","79":"\uacbd\uae30","80":"\uacbd\uae30","81":"\uacbd\uae30","82":"\uacbd\uae30","83":"\uacbd\uae30","84":"\uacbd\uae30","85":"\uacbd\uae30","86":"\uacbd\uae30","87":"\uacbd\uae30","88":"\uacbd\uae30","89":"\uacbd\uae30","90":"\uacbd\uae30","91":"\uacbd\uae30","92":"\uacbd\uae30","93":"\uacbd\uae30","94":"\uacbd\uae30","95":"\uacbd\uae30","96":"\uacbd\uae30","97":"\uacbd\uae30","98":"\uacbd\uae30","99":"\uacbd\uae30"},"f1":{"0":null,"1":70.0,"2":61.0,"3":null,"4":85.0,"5":57.0,"6":60.0,"7":101.0,"8":35.0,"9":74.0,"10":68.0,"11":null,"12":68.0,"13":50.0,"14":67.0,"15":85.0,"16":null,"17":87.0,"18":null,"19":51.0,"20":null,"21":72.0,"22":75.0,"23":44.0,"24":null,"25":57.0,"26":60.0,"27":34.0,"28":47.0,"29":null,"30":77.0,"31":64.0,"32":94.0,"33":null,"34":null,"35":77.0,"36":null,"37":null,"38":50.0,"39":75.0,"40":55.0,"41":48.0,"42":60.0,"43":null,"44":88.0,"45":null,"46":75.0,"47":null,"48":88.0,"49":78.0,"50":null,"51":82.0,"52":50.0,"53":null,"54":63.0,"55":null,"56":111.0,"57":100.0,"58":null,"59":null,"60":62.0,"61":null,"62":86.0,"63":62.0,"64":null,"65":null,"66":52.0,"67":45.0,"68":85.0,"69":96.0,"70":84.0,"71":97.0,"72":null,"73":98.0,"74":47.0,"75":12.0,"76":31.0,"77":96.0,"78":null,"79":60.0,"80":50.0,"81":null,"82":50.0,"83":44.0,"84":55.0,"85":null,"86":null,"87":75.0,"88":66.0,"89":null,"90":72.0,"91":78.0,"92":57.0,"93":null,"94":43.0,"95":53.0,"96":null,"97":58.0,"98":47.0,"99":53.0},"f2":{"0":0,"1":1,"2":1,"3":2,"4":2,"5":0,"6":1,"7":1,"8":2,"9":1,"10":0,"11":0,"12":0,"13":1,"14":1,"15":0,"16":1,"17":2,"18":0,"19":1,"20":1,"21":1,"22":1,"23":0,"24":0,"25":1,"26":0,"27":1,"28":2,"29":0,"30":0,"31":0,"32":0,"33":1,"34":2,"35":1,"36":0,"37":1,"38":0,"39":0,"40":0,"41":2,"42":0,"43":0,"44":0,"45":0,"46":1,"47":0,"48":0,"49":1,"50":0,"51":1,"52":0,"53":1,"54":2,"55":1,"56":0,"57":2,"58":1,"59":0,"60":2,"61":0,"62":1,"63":2,"64":0,"65":1,"66":1,"67":2,"68":0,"69":1,"70":2,"71":0,"72":1,"73":0,"74":0,"75":0,"76":0,"77":1,"78":0,"79":0,"80":1,"81":0,"82":1,"83":0,"84":0,"85":0,"86":1,"87":0,"88":1,"89":0,"90":0,"91":1,"92":0,"93":1,"94":1,"95":1,"96":0,"97":2,"98":0,"99":0},"f3":{"0":null,"1":null,"2":null,"3":null,"4":null,"5":"vip","6":null,"7":null,"8":null,"9":null,"10":null,"11":null,"12":null,"13":null,"14":null,"15":null,"16":null,"17":null,"18":null,"19":null,"20":null,"21":null,"22":null,"23":null,"24":null,"25":null,"26":null,"27":null,"28":null,"29":null,"30":null,"31":"vip","32":null,"33":null,"34":null,"35":null,"36":null,"37":null,"38":null,"39":null,"40":null,"41":null,"42":null,"43":null,"44":null,"45":null,"46":null,"47":null,"48":null,"49":null,"50":null,"51":null,"52":null,"53":null,"54":null,"55":"vip","56":null,"57":null,"58":null,"59":null,"60":null,"61":null,"62":null,"63":null,"64":null,"65":null,"66":null,"67":null,"68":null,"69":null,"70":null,"71":null,"72":null,"73":null,"74":null,"75":null,"76":null,"77":null,"78":null,"79":null,"80":null,"81":null,"82":"vip","83":null,"84":null,"85":null,"86":null,"87":null,"88":null,"89":null,"90":null,"91":null,"92":null,"93":null,"94":null,"95":null,"96":null,"97":null,"98":null,"99":"vip"},"f4":{"0":"ENFJ","1":"ENFJ","2":"ISTJ","3":"INFP","4":"ISFJ","5":"INTP","6":"ISFJ","7":"INFJ","8":"ESFJ","9":"ISFP","10":"ENFP","11":"ESTP","12":"ESFJ","13":"ENTJ","14":"ENTP","15":"ESFP","16":"ISTP","17":"ISFJ","18":"ISFP","19":"INTJ","20":"ISFP","21":"ENFP","22":"ISTP","23":"INFJ","24":"ESTP","25":"ENFP","26":"ESTP","27":"ENTP","28":"ENTP","29":"ESTJ","30":"ESFJ","31":"ISFJ","32":"ENFJ","33":"INFP","34":"ESTJ","35":"INTP","36":"ESTP","37":"ESTP","38":"INFJ","39":"ENFP","40":"ENFJ","41":"ESTP","42":"ISTP","43":"INTP","44":"ENFJ","45":"ESTJ","46":"ESTJ","47":"ENFP","48":"INTP","49":"ENFP","50":"ISTJ","51":"ISFJ","52":"ESTP","53":"ENFJ","54":"ENTP","55":"ESTJ","56":"ISFJ","57":"ESTP","58":"ESFJ","59":"ESFP","60":"INTP","61":"INTP","62":"ISFJ","63":"ESFP","64":"ISFP","65":"ISFP","66":"ISFJ","67":"ISFP","68":"ESTJ","69":"ISTP","70":"ISFP","71":"ESTJ","72":"ISFJ","73":"ESTP","74":"ESTP","75":"ENTJ","76":"INFP","77":"INTJ","78":"INTJ","79":"ISFP","80":"ISFJ","81":"ENTJ","82":"ENTP","83":"INTP","84":"INFJ","85":"ESTP","86":"ISFP","87":"ESTJ","88":"ENTJ","89":"ENTP","90":"INTP","91":"INFP","92":"ISFP","93":"ESTJ","94":"INTJ","95":"ENTJ","96":"INFP","97":"INFP","98":"ESFJ","99":"ESFP"},"f5":{"0":91.29779092,"1":60.33982554,"2":17.25298557,"3":52.66707799,"4":29.26986926,"5":20.1294441,"6":9.796377581,"7":83.68538032,"8":17.25298557,"9":98.42989897,"10":98.42989897,"11":91.29779092,"12":83.68538032,"13":67.8863732,"14":9.796377581,"15":16.2838541,"16":67.8863732,"17":80.13828012,"18":83.68538032,"19":91.29779092,"20":29.26986926,"21":52.66707799,"22":69.73031281,"23":73.58639712,"24":60.33982554,"25":83.68538032,"26":73.58639712,"27":80.13828012,"28":67.8863732,"29":17.25298557,"30":73.58639712,"31":13.04992129,"32":17.25298557,"33":48.43118381,"34":33.30899901,"35":13.04992129,"36":33.30899901,"37":83.68538032,"38":33.30899901,"39":17.25298557,"40":37.11373918,"41":33.30899901,"42":29.26986926,"43":16.2838541,"44":13.04992129,"45":67.8863732,"46":90.49699927,"47":20.1294441,"48":37.11373918,"49":60.33982554,"50":83.68538032,"51":90.49699927,"52":20.1294441,"53":69.73031281,"54":13.04992129,"55":73.58639712,"56":29.26986926,"57":33.30899901,"58":20.1294441,"59":52.66707799,"60":69.73031281,"61":60.33982554,"62":73.58639712,"63":73.58639712,"64":91.29779092,"65":17.25298557,"66":73.58639712,"67":67.8863732,"68":69.73031281,"69":48.43118381,"70":52.66707799,"71":97.38103419,"72":73.58639712,"73":52.66707799,"74":20.1294441,"75":83.68538032,"76":98.42989897,"77":69.73031281,"78":80.13828012,"79":83.68538032,"80":37.11373918,"81":37.11373918,"82":80.13828012,"83":83.68538032,"84":80.13828012,"85":29.26986926,"86":97.38103419,"87":60.33982554,"88":33.30899901,"89":29.26986926,"90":9.796377581,"91":97.38103419,"92":73.58639712,"93":90.49699927,"94":91.29779092,"95":52.66707799,"96":67.8863732,"97":98.42989897,"98":97.38103419,"99":33.30899901}}'
# 초기 코드 제공
import pandas as pd
df = pd.read_json(data)

In [22]:
df1 = df.groupby(by= ["city"]).sum()
answer = df1.loc[df1["f1"]==max(df1.f1)].index[0]
print(answer)

'경기'

In [ ]:
print(df.groupby('city').sum().sort_values('f1', ascending=False).index[0])

In [21]:
df1 = df.groupby(by= ["city"]).sum()
a = max(df1.f1.values)

# max값의 인덱스번호를 어떻게 가져올지 몰라서..이렇게함.
a1 = df1.index[0]
# print(type(a1))
a2 = "경기"
# print(type(a2))
print(a1)

경기

In [6]:
# ## 3. f1 컬럼 중 결측치가 있는 데이터를 선택하고, 그 데이터의 f5 컬럼 중앙값을 구하시오
# %% [code]
data = '{"id":{"0":"id01","1":"id02","2":"id03","3":"id04","4":"id05","5":"id06","6":"id07","7":"id08","8":"id09","9":"id10","10":"id11","11":"id12","12":"id13","13":"id14","14":"id15","15":"id16","16":"id17","17":"id18","18":"id19","19":"id20","20":"id21","21":"id22","22":"id23","23":"id24","24":"id25","25":"id26","26":"id27","27":"id28","28":"id29","29":"id30","30":"id31","31":"id32","32":"id33","33":"id34","34":"id35","35":"id36","36":"id37","37":"id38","38":"id39","39":"id40","40":"id41","41":"id42","42":"id43","43":"id44","44":"id45","45":"id46","46":"id47","47":"id48","48":"id49","49":"id50","50":"id51","51":"id52","52":"id53","53":"id54","54":"id55","55":"id56","56":"id57","57":"id58","58":"id59","59":"id60","60":"id61","61":"id62","62":"id63","63":"id64","64":"id65","65":"id66","66":"id67","67":"id68","68":"id69","69":"id70","70":"id71","71":"id72","72":"id73","73":"id74","74":"id75","75":"id76","76":"id77","77":"id78","78":"id79","79":"id80","80":"id81","81":"id82","82":"id83","83":"id84","84":"id85","85":"id86","86":"id87","87":"id88","88":"id89","89":"id90","90":"id91","91":"id92","92":"id93","93":"id94","94":"id95","95":"id96","96":"id97","97":"id98","98":"id99","99":"id100"},"age":{"0":2.0,"1":9.0,"2":27.0,"3":75.0,"4":24.0,"5":22.0,"6":36.3,"7":38.0,"8":3.3,"9":95.0,"10":40.0,"11":20.0,"12":15.0,"13":77.0,"14":22.0,"15":68.0,"16":74.0,"17":41.0,"18":53.0,"19":11.0,"20":90.0,"21":-6.3,"22":34.0,"23":80.0,"24":34.0,"25":55.0,"26":37.0,"27":38.0,"28":-13.5,"29":16.0,"30":86.0,"31":25.0,"32":47.0,"33":65.0,"34":30.0,"35":68.0,"36":100.0,"37":87.0,"38":56.0,"39":56.0,"40":81.0,"41":65.0,"42":23.0,"43":44.0,"44":97.0,"45":93.0,"46":34.6,"47":18.0,"48":75.0,"49":86.0,"50":36.0,"51":97.0,"52":52.0,"53":53.0,"54":75.0,"55":59.0,"56":3.0,"57":0.0,"58":64.0,"59":56.0,"60":87.0,"61":52.0,"62":88.0,"63":43.0,"64":26.5,"65":87.0,"66":66.0,"67":35.0,"68":75.0,"69":-9.0,"70":35.0,"71":8.0,"72":90.0,"73":45.0,"74":63.0,"75":71.0,"76":77.0,"77":92.0,"78":30.0,"79":67.0,"80":86.0,"81":48.0,"82":73.0,"83":66.0,"84":83.6,"85":2.0,"86":19.0,"87":89.0,"88":34.0,"89":54.0,"90":6.0,"91":97.0,"92":21.8,"93":84.0,"94":77.0,"95":92.0,"96":100.0,"97":39.0,"98":1.0,"99":47.0},"city":{"0":"\uc11c\uc6b8","1":"\uc11c\uc6b8","2":"\uc11c\uc6b8","3":"\uc11c\uc6b8","4":"\uc11c\uc6b8","5":"\uc11c\uc6b8","6":"\uc11c\uc6b8","7":"\uc11c\uc6b8","8":"\uc11c\uc6b8","9":"\uc11c\uc6b8","10":"\uc11c\uc6b8","11":"\uc11c\uc6b8","12":"\uc11c\uc6b8","13":"\uc11c\uc6b8","14":"\uc11c\uc6b8","15":"\uc11c\uc6b8","16":"\uc11c\uc6b8","17":"\uc11c\uc6b8","18":"\uc11c\uc6b8","19":"\uc11c\uc6b8","20":"\ubd80\uc0b0","21":"\ubd80\uc0b0","22":"\ubd80\uc0b0","23":"\ubd80\uc0b0","24":"\ubd80\uc0b0","25":"\ubd80\uc0b0","26":"\ubd80\uc0b0","27":"\ubd80\uc0b0","28":"\ubd80\uc0b0","29":"\ubd80\uc0b0","30":"\ubd80\uc0b0","31":"\ubd80\uc0b0","32":"\ubd80\uc0b0","33":"\ubd80\uc0b0","34":"\ubd80\uc0b0","35":"\ubd80\uc0b0","36":"\ubd80\uc0b0","37":"\ubd80\uc0b0","38":"\ubd80\uc0b0","39":"\ub300\uad6c","40":"\ub300\uad6c","41":"\ub300\uad6c","42":"\ub300\uad6c","43":"\ub300\uad6c","44":"\ub300\uad6c","45":"\ub300\uad6c","46":"\ub300\uad6c","47":"\ub300\uad6c","48":"\ub300\uad6c","49":"\ub300\uad6c","50":"\ub300\uad6c","51":"\ub300\uad6c","52":"\ub300\uad6c","53":"\ub300\uad6c","54":"\ub300\uad6c","55":"\ub300\uad6c","56":"\ub300\uad6c","57":"\ub300\uad6c","58":"\ub300\uad6c","59":"\uacbd\uae30","60":"\uacbd\uae30","61":"\uacbd\uae30","62":"\uacbd\uae30","63":"\uacbd\uae30","64":"\uacbd\uae30","65":"\uacbd\uae30","66":"\uacbd\uae30","67":"\uacbd\uae30","68":"\uacbd\uae30","69":"\uacbd\uae30","70":"\uacbd\uae30","71":"\uacbd\uae30","72":"\uacbd\uae30","73":"\uacbd\uae30","74":"\uacbd\uae30","75":"\uacbd\uae30","76":"\uacbd\uae30","77":"\uacbd\uae30","78":"\uacbd\uae30","79":"\uacbd\uae30","80":"\uacbd\uae30","81":"\uacbd\uae30","82":"\uacbd\uae30","83":"\uacbd\uae30","84":"\uacbd\uae30","85":"\uacbd\uae30","86":"\uacbd\uae30","87":"\uacbd\uae30","88":"\uacbd\uae30","89":"\uacbd\uae30","90":"\uacbd\uae30","91":"\uacbd\uae30","92":"\uacbd\uae30","93":"\uacbd\uae30","94":"\uacbd\uae30","95":"\uacbd\uae30","96":"\uacbd\uae30","97":"\uacbd\uae30","98":"\uacbd\uae30","99":"\uacbd\uae30"},"f1":{"0":null,"1":70.0,"2":61.0,"3":null,"4":85.0,"5":57.0,"6":60.0,"7":101.0,"8":35.0,"9":74.0,"10":68.0,"11":null,"12":68.0,"13":50.0,"14":67.0,"15":85.0,"16":null,"17":87.0,"18":null,"19":51.0,"20":null,"21":72.0,"22":75.0,"23":44.0,"24":null,"25":57.0,"26":60.0,"27":34.0,"28":47.0,"29":null,"30":77.0,"31":64.0,"32":94.0,"33":null,"34":null,"35":77.0,"36":null,"37":null,"38":50.0,"39":75.0,"40":55.0,"41":48.0,"42":60.0,"43":null,"44":88.0,"45":null,"46":75.0,"47":null,"48":88.0,"49":78.0,"50":null,"51":82.0,"52":50.0,"53":null,"54":63.0,"55":null,"56":111.0,"57":100.0,"58":null,"59":null,"60":62.0,"61":null,"62":86.0,"63":62.0,"64":null,"65":null,"66":52.0,"67":45.0,"68":85.0,"69":96.0,"70":84.0,"71":97.0,"72":null,"73":98.0,"74":47.0,"75":12.0,"76":31.0,"77":96.0,"78":null,"79":60.0,"80":50.0,"81":null,"82":50.0,"83":44.0,"84":55.0,"85":null,"86":null,"87":75.0,"88":66.0,"89":null,"90":72.0,"91":78.0,"92":57.0,"93":null,"94":43.0,"95":53.0,"96":null,"97":58.0,"98":47.0,"99":53.0},"f2":{"0":0,"1":1,"2":1,"3":2,"4":2,"5":0,"6":1,"7":1,"8":2,"9":1,"10":0,"11":0,"12":0,"13":1,"14":1,"15":0,"16":1,"17":2,"18":0,"19":1,"20":1,"21":1,"22":1,"23":0,"24":0,"25":1,"26":0,"27":1,"28":2,"29":0,"30":0,"31":0,"32":0,"33":1,"34":2,"35":1,"36":0,"37":1,"38":0,"39":0,"40":0,"41":2,"42":0,"43":0,"44":0,"45":0,"46":1,"47":0,"48":0,"49":1,"50":0,"51":1,"52":0,"53":1,"54":2,"55":1,"56":0,"57":2,"58":1,"59":0,"60":2,"61":0,"62":1,"63":2,"64":0,"65":1,"66":1,"67":2,"68":0,"69":1,"70":2,"71":0,"72":1,"73":0,"74":0,"75":0,"76":0,"77":1,"78":0,"79":0,"80":1,"81":0,"82":1,"83":0,"84":0,"85":0,"86":1,"87":0,"88":1,"89":0,"90":0,"91":1,"92":0,"93":1,"94":1,"95":1,"96":0,"97":2,"98":0,"99":0},"f3":{"0":null,"1":null,"2":null,"3":null,"4":null,"5":"vip","6":null,"7":null,"8":null,"9":null,"10":null,"11":null,"12":null,"13":null,"14":null,"15":null,"16":null,"17":null,"18":null,"19":null,"20":null,"21":null,"22":null,"23":null,"24":null,"25":null,"26":null,"27":null,"28":null,"29":null,"30":null,"31":"vip","32":null,"33":null,"34":null,"35":null,"36":null,"37":null,"38":null,"39":null,"40":null,"41":null,"42":null,"43":null,"44":null,"45":null,"46":null,"47":null,"48":null,"49":null,"50":null,"51":null,"52":null,"53":null,"54":null,"55":"vip","56":null,"57":null,"58":null,"59":null,"60":null,"61":null,"62":null,"63":null,"64":null,"65":null,"66":null,"67":null,"68":null,"69":null,"70":null,"71":null,"72":null,"73":null,"74":null,"75":null,"76":null,"77":null,"78":null,"79":null,"80":null,"81":null,"82":"vip","83":null,"84":null,"85":null,"86":null,"87":null,"88":null,"89":null,"90":null,"91":null,"92":null,"93":null,"94":null,"95":null,"96":null,"97":null,"98":null,"99":"vip"},"f4":{"0":"ENFJ","1":"ENFJ","2":"ISTJ","3":"INFP","4":"ISFJ","5":"INTP","6":"ISFJ","7":"INFJ","8":"ESFJ","9":"ISFP","10":"ENFP","11":"ESTP","12":"ESFJ","13":"ENTJ","14":"ENTP","15":"ESFP","16":"ISTP","17":"ISFJ","18":"ISFP","19":"INTJ","20":"ISFP","21":"ENFP","22":"ISTP","23":"INFJ","24":"ESTP","25":"ENFP","26":"ESTP","27":"ENTP","28":"ENTP","29":"ESTJ","30":"ESFJ","31":"ISFJ","32":"ENFJ","33":"INFP","34":"ESTJ","35":"INTP","36":"ESTP","37":"ESTP","38":"INFJ","39":"ENFP","40":"ENFJ","41":"ESTP","42":"ISTP","43":"INTP","44":"ENFJ","45":"ESTJ","46":"ESTJ","47":"ENFP","48":"INTP","49":"ENFP","50":"ISTJ","51":"ISFJ","52":"ESTP","53":"ENFJ","54":"ENTP","55":"ESTJ","56":"ISFJ","57":"ESTP","58":"ESFJ","59":"ESFP","60":"INTP","61":"INTP","62":"ISFJ","63":"ESFP","64":"ISFP","65":"ISFP","66":"ISFJ","67":"ISFP","68":"ESTJ","69":"ISTP","70":"ISFP","71":"ESTJ","72":"ISFJ","73":"ESTP","74":"ESTP","75":"ENTJ","76":"INFP","77":"INTJ","78":"INTJ","79":"ISFP","80":"ISFJ","81":"ENTJ","82":"ENTP","83":"INTP","84":"INFJ","85":"ESTP","86":"ISFP","87":"ESTJ","88":"ENTJ","89":"ENTP","90":"INTP","91":"INFP","92":"ISFP","93":"ESTJ","94":"INTJ","95":"ENTJ","96":"INFP","97":"INFP","98":"ESFJ","99":"ESFP"},"f5":{"0":91.29779092,"1":60.33982554,"2":17.25298557,"3":52.66707799,"4":29.26986926,"5":20.1294441,"6":9.796377581,"7":83.68538032,"8":17.25298557,"9":98.42989897,"10":98.42989897,"11":91.29779092,"12":83.68538032,"13":67.8863732,"14":9.796377581,"15":16.2838541,"16":67.8863732,"17":80.13828012,"18":83.68538032,"19":91.29779092,"20":29.26986926,"21":52.66707799,"22":69.73031281,"23":73.58639712,"24":60.33982554,"25":83.68538032,"26":73.58639712,"27":80.13828012,"28":67.8863732,"29":17.25298557,"30":73.58639712,"31":13.04992129,"32":17.25298557,"33":48.43118381,"34":33.30899901,"35":13.04992129,"36":33.30899901,"37":83.68538032,"38":33.30899901,"39":17.25298557,"40":37.11373918,"41":33.30899901,"42":29.26986926,"43":16.2838541,"44":13.04992129,"45":67.8863732,"46":90.49699927,"47":20.1294441,"48":37.11373918,"49":60.33982554,"50":83.68538032,"51":90.49699927,"52":20.1294441,"53":69.73031281,"54":13.04992129,"55":73.58639712,"56":29.26986926,"57":33.30899901,"58":20.1294441,"59":52.66707799,"60":69.73031281,"61":60.33982554,"62":73.58639712,"63":73.58639712,"64":91.29779092,"65":17.25298557,"66":73.58639712,"67":67.8863732,"68":69.73031281,"69":48.43118381,"70":52.66707799,"71":97.38103419,"72":73.58639712,"73":52.66707799,"74":20.1294441,"75":83.68538032,"76":98.42989897,"77":69.73031281,"78":80.13828012,"79":83.68538032,"80":37.11373918,"81":37.11373918,"82":80.13828012,"83":83.68538032,"84":80.13828012,"85":29.26986926,"86":97.38103419,"87":60.33982554,"88":33.30899901,"89":29.26986926,"90":9.796377581,"91":97.38103419,"92":73.58639712,"93":90.49699927,"94":91.29779092,"95":52.66707799,"96":67.8863732,"97":98.42989897,"98":97.38103419,"99":33.30899901}}'
# 초기 코드 제공
import pandas as pd
df = pd.read_json(data)

In [7]:
# # your code
# print(df["f1"])
df1 = df.loc[df["f1"].isna()== True]
answer = df1["f5"].median()
print(answer)

60.33982554

In [ ]:
import numpy as np
# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv(path+"\\X_test.csv",encoding="euc-kr")

X_train = pd.read_csv(path+"\\X_train.csv",encoding="euc-kr")
y_train = pd.read_csv(path+"\\y_train.csv",encoding="euc-kr")

tr_len = len(X_train)
X_all = pd.concat([X_train,X_test],axis = 0)
X_all = X_all.drop(["cust_id"],axis = 1)



# print(X_all.describe())

# print(X_all["환불금액"].describe()) #환불금액에 0값대신 na값이 들어가있는것으로 추측할수 있음 0이 min이 아니니까.
# print(dir(X_all))
# 컬럼 
# print(X_all.info())
# print(help(X_all.select_dtypes))
# na값 채움.
col = X_all.select_dtypes("float64").columns
# print(col)
for i in range(len(col)):
	X_all.loc[X_all[col[i]].isna()==True,col] = 0
	

X_all_1 = pd.get_dummies(X_all)
col = X_all_1.columns
# print(col.shape)

from sklearn.preprocessing import MinMaxScaler,PowerTransformer
Scaler = PowerTransformer()
X_all_1 = Scaler.fit_transform(X_all_1)
X_all_2 = pd.DataFrame(X_all_1, columns = col)

# X_all_2 = X_all_1 # 랜포의 경우만


x_train = X_all_2[:tr_len]
x_test = X_all_2[tr_len:]

#검증용
a = int(np.floor(tr_len/10)) * 1
a = tr_len - a
x_train_1 = x_train[:a]
x_val_1 = x_train[a:]
y_train_1 = y_train[:a]
y_val_1 = y_train[a:]

# print(x_train_1)
# print(x_val_1)
# print(y_train_1)
# print(y_val_1)

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, ExtraTreesClassifier, GradientBoostingClassifier,RandomForestClassifier
from xgboost import XGBRFClassifier,XGBClassifier
# model = XGBRFClassifier(eval_metric = "logloss",use_label_encoder=False)
# model = RandomForestClassifier(random_state=42, oob_score = False,n_estimators=50,max_features= 9)
model = LogisticRegression()
model.fit(x_train_1,y_train_1["gender"])
print("모델 설명력(trian)",model.score(x_train_1,y_train_1["gender"]))
pred = model.predict(x_val_1)
print("모델 설명력(test)",model.score(x_val_1,y_val_1["gender"]))

from sklearn.metrics import roc_auc_score
print("학습셋 roc 스코어",roc_auc_score(y_train_1["gender"],model.predict(x_train_1)))
# print(pred)
print("검증셋 roc 스코어",roc_auc_score(y_val_1["gender"],pred))

# # 제출용 모델
# from sklearn.linear_model import LogisticRegression
# model = LogisticRegression()
# model.fit(x_train,y_train["gender"])
# print("모델 설명력",model.score(x_train,y_train["gender"]))
# pred = model.predict(x_test)
# prob = model.predict_proba(x_test)[:,1]
# df = pd.DataFrame({"cust_id":X_test.cust_id,"gender":prob}).reset_index(drop= True).to_csv("수험번호.csv",index = False)